/* This file is for your main application css. */
@import "./phoenix.css";
@import "./progress-bar.scss";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-connected {
  height: 100vh;
}

.unclickable {
  pointer-events: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.membrane-link {
  margin-bottom: 20px;
  border: 1px black;
  padding: 10px;
}

#accuracy {
  width: 100px;
  margin-right: 5px;
}

#accuracy-unit {
  display: inline;
}

.SearchButtons {
  display: flex;
  justify-content: start;
  align-items: center;
  button {
    margin-right: 10px;
    margin-bottom: 0;
    margin: 10px 10px 10px 0;
  }
}

.AccuracyInput {
  display: block;
}

.Charts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-bottom: 2rem;
}

#diagrams-heading {
  h2 {
    display: inline-block;
  }

  #dagre-rerender {
    display: none;
    float: right;
  }
}

.Dagre {
  height: 20%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.DagreCombos {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 5px;
  margin-bottom: 10px;
  min-height: 50px;

  .Combo {
    padding: 10px 10px;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin: 0 10px;
    cursor: pointer;
    &:hover {
      background-color: #90909052;
    }
  }
}

.PipelineMarking {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 1px white solid;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PipelineMarkingActive {
  @extend .PipelineMarking;
  background-color: #bf0202;
}

.PipelineMarkingInactive {
  @extend .PipelineMarking;
}

.TimeRange {
  margin-bottom: 10px;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7d0d9;
  border-radius: 20px;
}

/* uPlot charts */
.uplot,
.uplot *,
.uplot *::before,
.uplot *::after {
  box-sizing: border-box;
}

.uplot {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  width: min-content;
}

.u-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.u-wrap {
  position: relative;
  user-select: none;
  padding-left: 10px;
}

.u-over,
.u-under {
  position: absolute;
}

.u-under {
  overflow: hidden;
}

.uplot canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.u-legend {
  font-size: 12px;
  height: 160px;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.u-inline {
  display: block;
}

.u-inline * {
  display: block;
}

.u-inline tr {
  margin-right: 16px;
}

.u-legend th {
  font-weight: 600;
}

.u-legend th > * {
  vertical-align: middle;
  display: inline-block;
}

.u-legend .u-marker {
  width: 1em;
  height: 1em;
  margin-right: 4px;
  background-clip: content-box !important;
}

.u-inline.u-live th::after {
  content: ":";
  vertical-align: middle;
}

.u-inline:not(.u-live) .u-value {
  display: none;
}

.u-series > * {
  padding: 4px;
  display: inline-block;
}

.u-series th {
  cursor: pointer;
}

.u-legend .u-off > * {
  opacity: 0.3;
}

.u-select {
  background: rgba(255, 255, 255, 0.07);
  position: absolute;
  pointer-events: none;
}

.u-cursor-x,
.u-cursor-y {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  z-index: 100;
}

.u-hz .u-cursor-x,
.u-vt .u-cursor-y {
  height: 100%;
  border-right: 1px dashed #607d8b;
}

.u-hz .u-cursor-y,
.u-vt .u-cursor-x {
  width: 100%;
  border-bottom: 1px dashed #607d8b;
}

.u-cursor-pt {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  will-change: transform;
  z-index: 100;
  /*this has to be !important since we set inline "background" shorthand */
  background-clip: content-box !important;
}

.u-select.u-off,
.u-cursor-x.u-off,
.u-cursor-y.u-off,
.u-cursor-pt.u-off {
  display: none;
}
